# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Next.js build output
.next

# My Entries
.vscode/
build/
tmp/
temp/
default.ts
default.json
.Procfile
googleKeys.json
mongo_commands.rtf
PERN.pdf
info.txt
config.json
ormconfig.json
fighters.sql
