body {
  background-color: whitesmoke !important;
  font-family: "Ubuntu Condensed", sans-serif;
}
* {
  box-sizing: border-box;
}

/* div.test {
  background-color: #fff;
  margin-right: 10px;
  font-family: serif;
  right: auto;
  display: flex;
  cursor: pointer;
  position: relative;
} */
