*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 100%;
}
body {
  /* box-sizing: border-box; */
  box-sizing: content-box;
  font-family: "Open Sans", sans-serif;
  background-color: #131633;
  color: #34495e;
  line-height: 1.5;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin: 0 auto;
}

#login {
  grid-area: login;
}

#enhance_your_career {
  grid-area: enhance_your_career;
}

#important_stats {
  grid-area: important_stats;
}

#build_apps {
  grid-area: build_apps;
}

#build_games {
  grid-area: build_games;
}

#build_websites {
  grid-area: build_websites;
}

header h1 {
  font-size: 4em;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px #22638e;
}

.options {
  width: 95%;
  background-color: white;
  padding: 10px;
  border-top: 3px solid #3498db;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.options-link {
  text-decoration: none;
  font-size: 0.9em;
  color: #3498db;
}

.options-link:hover {
  color: darkgreen;
  text-decoration: underline;
}

.card {
  background-color: white;
}

.card-blue {
  background-color: #9ebcf5;
}

.card-title {
  color: white;
  background-color: #4f97d5;
  font-size: 1.25em;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
