body {
  background-color: lightblue;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  h1 {
    color: red;
    text-align: center;
    padding: 2rem;
    background-color: initial;
    border: 2px solid magenta;
    &:hover {
      color: green;
      background-color: yellowgreen;
    }
  }
  h2 {
    color: darkmagenta;
    border: 2px solid black;
    &:hover {
      color: deepskyblue;
    }
  }
  div#root {
    padding: 3rem;
    margin: 2rem;
    border: 2px solid black;
    h1 {
      color: yellow;
      background-color: yellowgreen;
      border: none;
      text-decoration: underline;
      &:hover {
        border: 4px dotted red;
        background-color: none;
        text-decoration: none;
      }
    }
  }
}
