body {
  background-color: lightblue;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  h1 {
    color: red;
    text-align: center;
    padding: 2rem;
    background-color: initial;
    border: 2px solid magenta;
    &:hover {
      color: green;
      background-color: yellowgreen;
    }
  }
  h2 {
    color: darkmagenta;
    border: 2px solid black;
    &:hover {
      color: deepskyblue;
    }
  }
}
